body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.Map {
    position: relative;
    width: 40vw;
    height: 100vh;
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    position: absolute;
    right: 0;
    height: 100%;
}

.homeImg {
    display: flex;
    height: 100vh;
    width: 60vw;
    padding: 0;
    position: absolute;
}

h2 {
    color: white;
}

article {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.logo {
    position: relative;
    width: 40vw;
}

.linkColor {
    color: purple;
}

.linkColor:hover {
    color: white;
    text-decoration: none;
}

.mapPage {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}

.mapPage header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    z-index: 5;
}

.Location {
    margin: 0 10px;
    padding: 10px;
    color: white;
    border-bottom: 1px solid;
    overflow-x: hidden;
    opacity: 1;
}

.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(114, 113, 113, 0.207);
}

.style-2::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(114, 113, 113, 0.227);
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(104, 9, 136);
}

#nav-icon2 {
    width: 5rem;
    height: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon2 span {
    position: absolute;
    height: 9px;
    width: 50%;
    background: palevioletred;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
    top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
    top: 36px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}

.middle {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.middle:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 8px;
    left: 2px;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.middle:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.focus {
    transition: all 0.3s ease-in-out;
}

.focus:hover {
    transform: scale(1.1);
}

.ani {
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 5;
}

.ani h4 {
    color: #7c09ad;
}

.ani h4:hover {
    color: #7c09ad;
    text-decoration: none;
}

.ani Link:hover {
    text-decoration: none;
}

.ani::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    z-index: -60;
    width: 100%;
    height: 0%;
    transition: all 0.6s ease;
    overflow: hidden;
}

.ani:hover > * {
    color: rgb(0, 0, 0);
    z-index: 5;
    text-decoration: none;
}

.ani:hover::before {
    height: 100%;
    overflow: hidden;
    z-index: -50;
}

.mapPage .load-screen {
    width: 100vw;
    height: 100vh;
    z-index: 50;
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load-fade 2.5s ease-in-out forwards;
}

svg {
    z-index: 51;
    opacity: 1;
}

@keyframes load-fade {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0.99;
        z-index: 8;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -10;
    }
}

.left {
    position: relative;
    transition: all 1.3s ease-in-out;
    z-index: 60;
}

.left:after {
    content: "";
    position: absolute;
    width: 30%;
    transform: scaleX(0);
    height: 5px;
    bottom: 30%;
    background-color: #7c09ad;
    transform-origin: left;
    animation: load 1.5s ease-out forwards;
    z-index: 60;
}

@keyframes load {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.selected {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.Aboutpg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    position: fixed;
    right: 0;
    height: 100%;
}

.aboutImg {
    height: 100vh;
    width: 55vw;
    padding: 0;
    position: fixed;
    left: 0;
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    right: 0;
    height: 100%;
    background-color: black;
    padding: 20px;
    border: 5px dashed white;
    color: #7c09ad;
}

.aboutInfo h1 {
    color: white;
}

.sort {
    margin-top: 10px;
    margin-right: 10px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.buttons button{
    border: none;
    border-right: 2px solid black;
    padding: 10px 30px;
    background-color:#7c09ad;
    color: white;
    transition: 0.25s ease-in-out;
}

.buttons button:hover {
    background-color: white;
    transform: scale(1.1);
    color:#7c09ad;
}

.place-list section:nth-of-type(1) {
    background-color: rgb(56, 7, 56);
    color: white;
    margin: 0 -8px;
}

.place-list section:nth-of-type(1) h4::before{
    content: 'HOT!  ';
    color: white;
}

.place-list {
    margin: 0;
}

