body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Map {
  position: relative;
  width: 40vw;
  height: 100vh;
  overflow-x: hidden;
}

.marker {
  background-color: purple;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  position: absolute;
  right: 0;
  height: 100%;
}

.homeImg {
  display: flex;
  height: 100vh;
  width: 60vw;
  padding: 0;
  position: absolute;
}

article {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.logo {
  position:relative;
  width: 40vw;
}

.linkColor {
  color: purple;
}

.linkColor:hover {
  color:white;
  text-decoration: none;
}

.mapPage {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  background-color: black;
}

.mapPage header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30vw;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
}

.Location {
  margin: 20px 10px;
  padding: 10px;
  color: white;
  border-bottom: 1px solid;
  overflow-x: hidden;
}

.style-2::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(114, 113, 113);
}

.style-2::-webkit-scrollbar {
	width: 12px;
	background-color: rgb(114, 113, 113);
}

.style-2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(104, 9, 136);
}

#nav-icon2 {
  width: 5rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  position: absolute;
  height: 9px;
  width: 50%;
  background: palevioletred;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.middle {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.middle:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 8px;
  left: 2px;
  background-color: white;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.middle:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.focus {
  transition: all .3s ease-in-out;
}

.focus:hover {
  transform: scale(1.1);
}