body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Map {
  position: relative;
  width: 40vw;
  height: 100vh;
  overflow-x: hidden;
}

.marker {
  background-color: purple;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  position: absolute;
  right: 0;
  height: 100%;
}

.homeImg{
  display: flex;
  height: 100vh;
  width: 60vw;
  padding: 0;
  position: absolute;
}

article {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.logo{
  position:relative;
  width: 40vw;
}

.linkColor{
  color: purple;
}
.linkColor:hover{
  color:white;
  text-decoration: none;
}

.mapPage {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.mapPage header{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30vw;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Location {
  margin: 20px 10px;
  padding: 10px;
  color: white;
  border-bottom: 1px solid;
  overflow-x: hidden;
}

.style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(114, 113, 113);
}

.style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: rgb(114, 113, 113);
}

.style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(104, 9, 136);
}